extensions:
	cache.debug: Contributte\Cache\DI\DebugStorageExtension
	cache.factory: Contributte\Cache\DI\CacheFactoryExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	console.extra: Contributte\Console\Extra\DI\ConsoleBridgesExtension
	datetime: Contributte\Utils\DI\DateTimeFactoryExtension
	forms.application: Contributte\Forms\DI\ApplicationFormFactoryExtension
	menu: Contributte\MenuControl\DI\MenuExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
	nettrine.orm.xml: Nettrine\ORM\DI\OrmXmlExtension
	translation: Contributte\Translation\DI\TranslationExtension

cache.debug:
	debug: %debugMode%

console:
	name: headchef
	version: '0.0.1'
	catchExceptions: false
	autoExit: false
	lazy: false

nettrine.cache:
 	driver: Doctrine\Common\Cache\FilesystemCache(%tempDir%)

nettrine.dbal:
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

nettrine.fixtures:
	paths: []

nettrine.migrations:
	directory: %appDir%/Migrations

nettrine.orm:
	configuration:
		autoGenerateProxyClasses: %debugMode%

nettrine.orm.xml:
	mapping: []
	fileExtension: .orm.xml
	simple: true

translation:
	locales:
		whitelist: [en]
		default: en
		fallback: [en]
	dirs:
		- %appDir%/../lang
